.entryLeft {
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.8);
}
.loginBg{
  background-image: url('@assets/images/login/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_box{
  background-image: url('@assets/images/login/cont_bg.png');
  width: 1132px;
  height:577px;
  display: flex;
}
.cont_box_left{
  background-image: url('@assets/images/login/left_img.jpg');
  width: 601px;
  height:545px;
  margin-top: 16px;
  margin-left:16px;
}
.cont_box_right{
  width: 499px;
  margin: 16px;
  margin-left: 0px;
  padding-top: 66px;
}
.cont_box_right_padding_top{
  padding-top: 103px !important;
}
.cont_box_right_header_mb{
  margin-bottom:75px;
}
.cont_box_right_header{
  background-image: url('@assets/images/login/top_title.png') ;
  width: 295px;
  height:90px;
  margin:0px auto;
  margin-bottom:10px;
  background-repeat: no-repeat;
}
.cont_box_right_cont_mt_pb{
  padding-bottom:100px;
  margin-top:75px;
}
.cont_box_right_cont{
  display: flex;
  justify-content: center;
  // padding-bottom:100px;
  // margin-top:75px;
}
.cont_box_bottom{
  margin:0px;
  padding:10px 50px;
}
.cont_box_bottom>p{
  font-size: 13px;
  line-height: 28px;
  color: #747774;
}
.cont_box_bottom>p>span{
  font-weight: bold;
  color: #393939;
}